/*
 * Toast for web and mobile.
 */

#toast-container {
	z-index: 1070;
	display: none;
	position: fixed;
	bottom: 0;
	padding: 0 15px;
}

.toast {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background-color: #444;
	border-radius: 3px;
	color: #fff;
	vertical-align: middle;
	margin-top: 8px;
	padding: 15px;
	transition: all 200ms,-webkit-transform 300ms cubic-bezier(0.165,0.840,0.440,1.000);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	z-index: 1071;
	width: auto;
	clear: both;
	max-width: 100%;
	opacity: 0;
	display: flex;
	align-items: center;
}

.toast .toast-message {
	padding-right: 15px;
	word-wrap: break-word;
	flex-grow: 1;
}

.toast .toast-close {
	display: flex;
	line-height: 1;
	-webkit-user-drag: none;
	cursor: pointer;
	opacity: 0.8;
}

.toast-show {
	opacity: 1;
	transition: all 200ms,-webkit-transform 300ms cubic-bezier(0.165,0.840,0.440,1.000);
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
}

@media screen and (max-width: 480px) {
	#toast-container {
		bottom: -15px;
		left: 0;
		width: 100%;
		padding: 0;
	}

	.toast {
		box-sizing: border-box;
		border: none;
		background-color: #222;
		border-radius: 0;
		margin-top: 0;
		box-shadow: none;
		white-space: normal;
		z-index: 45;
		width: 100%;
	}

	.toast .toast-message {
		display: inline-block;
	}

	.toast .toast-close {
		margin: 0;
		-webkit-user-drag: none;
	}

	.toast-show {
		opacity: .95;
	}
}
